@model ResidentalComplexManagment.Web.Areas.Admin.Models.Residents.ResidentAddDebtItemsVM;

@{
    ViewData["Title"] = "Sakinin İstifadə etdiyi Xidmətlər";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 ">
</div>
<form asp-action="AddDebtItem" asp-controller="Resident" method="post">
    <div class="card mb-3 px-4 shadowBox border-0  border-radius-card">
        <h5 class="my-4 font-weight-bold">@ViewData["Title"]</h5>

        <input type="hidden" asp-for="ResidentId">

        @for (int i = 0; i < Model.DebtItems.Count; i++)
        {
            <div class="col-12 row ">
                <div class="col-lg-3 mb-4">
                    

                    @if (Model.DebtItems[i].IsComplusory)
                    {
                        <input class="form-check-input" type="checkbox" asp-for="DebtItems[i].IsCheckid" id="@("flexCheckDefault"+i)" onclick="return false;">
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" asp-for="DebtItems[i].IsCheckid" id="@("flexCheckDefault"+i)">
                    }
                    <label class="form-check-label" for="@("flexCheckDefault"+i)">
                        @Model.DebtItems[i].Name (Məbləğ: @Model.DebtItems[i].Price AZN)
                    </label>
                </div>
                <div class="col-lg-3">
                    <input type="hidden" asp-for="DebtItems[i].Id" >
                    <input type="hidden" asp-for="DebtItems[i].IsComplusory" >
                    <input type="hidden" asp-for="DebtItems[i].PaymentItemId">
                    <input type="number" min="0" step="0.01" class="form-control" placeholder="Endirim Faizi" asp-for="DebtItems[i].Discount">
                </div>
            </div>
        }


    </div>

    <button type="submit" asp-route-redirect="Add" class="btn p-2  text-white border bg-primary"> Yadda saxla </button>
    <button type="submit" asp-route-redirect="Index" class="btn p-2  text-white border bg-primary"> Yadda saxla Qayıt</button>
    <a type="button" asp-action="Index" asp-controller="Resident" class="btn p-2  text-white border bg-primary"> Imtina</a>

</form>
