@model ResidentalComplexManagment.Web.Areas.Admin.Models.AppartmentIndexVM;
@{
    ViewData["Title"] = "Mənzil";
}

<div class="d-lg-flex d-md-flex d-sm-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 ">
    <h2 class="h2">@ViewData["Title"]</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group w-100 ">
            <a href="/admin/appartment/add"  class="btn p-2 text-white border bg-primary" type="button">Yeni Mənzil yarat</a>
        </div>
    </div>
</div>
<div class="card px-4 shadowBox border-0 table-responsive border-radius-card">
    <div class="row align-items-center ">
        <div class="col-lg-6">
            <h5 class="my-4 float-lg-left">@ViewData["Title"]</h5>
        </div>
    <div class="col-lg-6">
            <form asp-action="Index" asp-controller="Appartment" method="get">
                <div class="float-lg-right d-lg-flex  align-items-center">
                     <a href="/admin/Appartment" class="btn w-20 text-left  mr-1 mb-3 mb-lg-0 border colorSecondary">
                        <i class="fas fa-times colorSecondary fa-lg "></i> 
                    </a>
                    <input name="search" type="text" class="form-control w-100 colorSecondary mr-3" placeholder="Axtarış" value="@Model.FilterParameter" />
                    <button type="submit" class="btn w-50 text-left   mt-lg-0 border colorSecondary">
                        <i class="fas fa-search colorSecondary fa-lg mr-2"></i> Axtar
                    </button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table w-100 table-borderless mt-4 mt-lg-0">
        <thead class="bgSecondary">
            <tr>
                <th class="pl-4 ">Mtk </th>
                <th class="pl-4 ">Bina </th>
                <th class="pl-4 ">Mənzil</th>
                <th class="pl-4 ">Sahəsi</th>
                <th class="pl-4 ">ACTION </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Appartments.List)
            {
                <tr>
                    <td class="pl-4" data-label="Mtk">@item.MtkName</td>
                    <td class="pl-4" data-label="Bina ">@item.BuildingName</td>
                    <td class="pl-4" data-label="Qapı nömrəsi">@item.DoorNumber</td>
                    <td class="pl-4" data-label="Sahəsi">@item.Area</td>


                    <td class="pl-4" data-label="ACTION">
                        <a asp-action="Update" asp-controller="Appartment" asp-route-id="@item.Id"><i class="far fa-edit"></i> </a> 
@*                        <a asp-action="Delete" asp-controller="Appartment" asp-route-id="@item.Id"> <i class="far fa-trash-alt"></i> </a>  
*@                        <a asp-action="Get" asp-controller="Appartment" asp-route-id="@item.Id" class="ml-2"> <i class="fas fa-users"></i> </a>  

                    </td>
                </tr>
            }
        </tbody>
    </table>

     <nav class="mt-4">
        <ul class="pagination ">
            @if (Model.Appartments.TotalPages > 0)
            {
                @if (Model.Appartments.CurrentPage > 1)
                {
                    <li class="page-item ">
                        <a class="page-link border-0" aria-label="Previous" asp-action="Index" asp-controller="Appartment" 
                        asp-route-page="@(Model.Appartments.CurrentPage-1)" 
                        asp-route-size="@Model.Appartments.PageSize" 
                        asp-route-search="@Model.FilterParameter" >
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                }

                @for (int i = Model.Appartments.StartPage; i <= Model.Appartments.EndPage; i++)
                {
                    <li class="page-item @(i==Model.Appartments.CurrentPage?"active":"")">
                        <a class="page-link border-radius-card mx-1" asp-action="Index" asp-controller="Appartment" 
                        asp-route-page="@i"
                        asp-route-search="@Model.FilterParameter" 
                        asp-route-size="@Model.Appartments.PageSize">@i</a>
                    </li>
                }


                @if (Model.Appartments.CurrentPage < Model.Appartments.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link border-0" aria-label="Next" asp-action="Index" asp-controller="Appartment" 
                        asp-route-page="@(Model.Appartments.CurrentPage+1)" 
                        asp-route-size="@Model.Appartments.PageSize" 
                        asp-route-search="@Model.FilterParameter" >
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>

</div>

@section Script{
 <script src="~/assets/js/script.js"></script>
}
   
