@model ResidentalComplexManagment.Web.Areas.Admin.Models.BuildingIndexVM;
@{
    ViewData["Title"] = "Bina";
}

<div class="d-lg-flex d-md-flex d-sm-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3 ">
    <h2 class="h2">@ViewData["Title"]</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group w-100 ">
            <a href="/admin/building/add" class="btn p-2 text-white border bg-primary" type="button">Yeni Bina yarat</a>
        </div>
    </div>
</div>
<div class="card px-4 shadowBox border-0 table-responsive border-radius-card">
    <div class="row align-items-center ">
        <div class="col-lg-6">
            <h5 class="my-4 float-lg-left"> @ViewData["Title"] </h5>
        </div>
        <div class="col-lg-6">
            <form asp-action="Index" asp-controller="Building" method="get">
                <div class="float-lg-right d-lg-flex  align-items-center">
                     <a href="/admin/building" class="btn w-20 text-left  mr-1 mb-3 mb-lg-0 border colorSecondary">
                        <i class="fas fa-times colorSecondary fa-lg "></i> 
                    </a>
                    <input name="search" type="text" class="form-control w-100 colorSecondary mr-3" placeholder="Axtarış" value="@Model.FilterParameter" />
                    <button type="submit" class="btn w-50 text-left   mt-lg-0 border colorSecondary">
                        <i class="fas fa-search colorSecondary fa-lg mr-2"></i> Axtar
                    </button>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table w-100 table-borderless mt-4 mt-lg-0">
        <thead class="bgSecondary">
            <tr>
                <th class="pl-4 ">Adı</th>
                <th class="pl-4 ">Nömrəsi</th>
                <th class="pl-4 ">MKT adı</th>
                <th class="pl-4 ">Ünvan</th>
                <th class="pl-4 ">ACTION </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Buildings.List)
            {
                <tr>
                    <td class="pl-4" data-label="Şərti ad">@item.Name</td>
                    <td class="pl-4" data-label="IBAN">@item.Number</td>
                    <td class="pl-4" data-label="Telefon">@item.MKTName</td>
                    <td class="pl-4" data-label="Ünvan">@item.Address</td>


                    <td class="pl-4" data-label="ACTION">
                        <a asp-action="Update" asp-controller="Building" asp-route-id="@item.Id"><i class="far fa-edit"></i> </a>
                        @*                        <a asp-action="Delete" asp-controller="Building" asp-route-id="@item.Id"> <i class="far fa-trash-alt"></i> </a>
                        *@                        <a asp-action="Get" asp-controller="Building" asp-route-id="@item.Id" class="ml-2"> <i class="fas fa-home"></i> </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav class="mt-4">
        <ul class="pagination ">
            @if (Model.Buildings.TotalPages > 0)
            {
                @if (Model.Buildings.CurrentPage > 1)
                {
                    <li class="page-item ">
                        <a class="page-link border-0" aria-label="Previous" asp-action="Index" asp-controller="Building" 
                        asp-route-page="@(Model.Buildings.CurrentPage-1)" 
                        asp-route-size="@Model.Buildings.PageSize" 
                        asp-route-search="@Model.FilterParameter" >
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                }

                @for (int i = Model.Buildings.StartPage; i <= Model.Buildings.EndPage; i++)
                {
                    <li class="page-item @(i==Model.Buildings.CurrentPage?"active":"")">
                        <a class="page-link border-radius-card mx-1" asp-action="Index" asp-controller="Building" 
                        asp-route-page="@i"
                        asp-route-search="@Model.FilterParameter" 
                        asp-route-size="@Model.Buildings.PageSize">@i</a>
                    </li>
                }


                @if (Model.Buildings.CurrentPage < Model.Buildings.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link border-0" aria-label="Next" asp-action="Index" asp-controller="Building" 
                        asp-route-page="@(Model.Buildings.CurrentPage+1)" 
                        asp-route-size="@Model.Buildings.PageSize" 
                        asp-route-search="@Model.FilterParameter" >
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>

@section Script{
<script src="~/assets/js/script.js"></script>
}

